.container {
  display: flex;
  margin: 0 auto;
}

.item {
  /* color: orange; */
  /* padding: 15px;
  margin: 5px; */
  /* border: 2px solid black; */
  /* background: #EC644B; */
  /* width: 250px; */
}

.item-3 {
  flex-basis: 100px;
  order: -1;
}

.item-1 {
  order: 2;
}

.item-2 {
  order: 3;
  /* width: 500px; */
  margin-left: 30px;
}


header {
  background-image: url('https://image.freepik.com/free-photo/cocktail-whiskey-cola_8353-1239.jpg');
  background-color: black;
  background-position: 90% 75%;
  background-repeat: no-repeat;
  height: 50px;
  padding: 50px;
}

#title{
  color: cyan;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

#liquor-form {
  margin-top: 20px;
}

.glowbtn {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.glowbtn:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

article {
  padding: 0px;
  box-sizing: border-box;
}

footer {
  background-image: url('https://image.freepik.com/free-photo/cocktail-whiskey-cola_8353-1239.jpg');
  /* transform: rotateY(180deg); */
  background-color: black;
  background-position: 90% 75%;
  background-repeat: no-repeat;
  height: 50px;
  padding: 50px;
}

body {
  margin: 0px;
  background-image: url('https://image.freepik.com/free-photo/natural-wooden-background_24837-269.jpg');
  background-size: cover;
  display: flex; 
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex: 1;
  display: flex;
  }


#cocktail-results {
  height: 300px;
}

#result-img {
  height: 200px;
}

#cocktail{
  border-radius: 50%;
  height: 200px;
  width: auto;
  margin-top: 75px;
  margin-bottom: 75px;
}

#drink-name {
  height: 200px;
  padding-bottom: 0px;
}

/* h1{
  margin-top: 0px; 
  margin-right: 600px;
} */

h2 {
  margin-bottom: 0px;
  margin-top: 150px;
  text-align: center;
}
#recepie {
  margin-top: 160px;
}
#drink-recepie {
  margin-bottom: 30px;
}

h3{
  margin-top: 130px;
  margin-bottom: 30px;
  color: whitesmoke;
  text-align: center;
  background:linear-gradient(bottom,rgba(0,0,0,1),rgba(0,0,0,.4));
  background:-webkit-linear-gradient(bottom,rgba(10,10,10,1),rgba(10,10,0,.4));
  background:-moz-linear-gradient(bottom,rgba(10,15,10,1),rgba(10,10,10,.4));
}

li {
  text-align: center;
  size: 2px;
  margin-top: 0px;
  margin-bottom: 20px;
  background-color: blanchedalmond;
  border-radius: 25%;

}

#drink-names{
  margin-top: 50px;
}

#cocktail.grow{
  /* width: 100%;
  height: auto; */
}

#github.grow{
  margin-left: 300px;
  /* transform: rotateY(180deg); */
  height: 100px;
}

#linkedin.grow{
  /* transform: rotateY(180deg); */
  height: 100px;
  border-radius: 25%;
}

.grow { 
  transition: all .2s ease-in-out; 
}
  
.grow:hover { 
  transform: scale(1.2); 
}

.glow {
  font-size: 30px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

#liquor-data{
  width: 100%;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

@media screen and (max-width:970px){

  h1.glow {
    font-size: 3vw;
    margin-top: 0px;
    margin-right: 300px;
  }
  
  h2 { 
    font-size:3vw; 
  }

  li {
    font-size:2vw;
  }

  #drink-names{
    padding-left: 0px;
  }
  
  article {
    padding-left: 0px;
  }
}



@media screen and (max-width:850px){

.grow:hover { 
    transform: scale(1.8); 
}

#cocktail.grow{
  height: 100px;
  margin-top: 160px;
}

  h1.glow {
    font-size: 3vw;
  }

  h2 { 
    font-size:4vw; 
    margin-bottom: 150px;
    text-decoration: underline;
    text-align: center;
  }
  h3 {
    font-size: 2vw;
    text-align: center;
  }

  li {
    font-size:2vw;
  }

  #drink-names{
    padding-left: 0px;
  }

  article {
    padding-left: 0px;
  }
}
#github.grow{
  /* margin-left: 0px; */
  /* transform: rotateY(180deg); */
  height: 100%;
  width: auto;
}

#linkedin.grow{
  /* transform: rotateY(180deg); */
  height: 100%;
  width: auto;
  border-radius: 25%;
}
/* 670 */
@media screen and (max-width:500px){
  /* body{
    margin: 0px;
  } */
  #drink-recepie {
    margin-bottom: 5px;
  }
 
  #cocktail.grow {
    margin-top: 20px;
    margin-bottom: 180px;
    margin-right: 120px;
    height: 100px;
  }

  .grow { 
    transition: all .2s ease-in-out; 
  }
  .grow:hover { 
    transform: scale(1.4); 
  }

  h3 {
    width:100%;
    margin-top: 170px;
    /* margin-bottom: 200px; */
    font-size: 3vw;
  }
  #recepie{
    /* margin-bottom: 200px; */
    
    position: absolute;
    width:100%;
  }

  h2 {
    width:100%;
    margin-top:0px;
    margin-bottom: 60px;
    font-size: 7vw;
    text-align: center;
    text-decoration: underline;
  }

  li {
    /* position: relative; */
    font-size: 3vw;
  }
  #github.grow{
    margin-left: 0px;
    height: 100%;
    width: auto;
  }
 
  .item-3 {
    margin-top: 0px;
    order: 3;
  }
  
  .item-1 {
    margin-top: 0px;
    width:100%;
    position: absolute;
    order: 1;
  }
  
  .item-2 {
    margin-top: -200px;
    order: 2;
    width:100%;
    position: static;
    /* width: 250px; */
    margin-left: 0px;
  }


}

@media screen and (max-width:320px){
  /* body{
    margin: 0px;
  } */
  #drink-recepie {
    margin-bottom: 5px;
  }
 
  #cocktail.grow {
    margin-top: 20px;
    margin-bottom: 180px;
    margin-right: 120px;
    height: 100px;
  }

  .grow { 
    transition: all .2s ease-in-out; 
  }
  .grow:hover { 
    transform: scale(1.4); 
  }

  h3 {
    width:100%;
    margin-top: 170px;
    /* margin-bottom: 200px; */
    font-size: 3vw;
  }
  #recepie{
    /* margin-bottom: 200px; */
    
    position: absolute;
    width:100%;
  }

  h2 {
    width:100%;
    margin-top:0px;
    margin-bottom: 60px;
    font-size: 7vw;
    text-align: center;
    text-decoration: underline;
  }

  li {
    /* position: relative; */
    font-size: 3vw;
  }
  #github.grow{
    margin-left: 0px;
    height: 100%;
    width: auto;
  }
 
  .item-3 {
    margin-top: 0px;
    order: 3;
  }
  
  .item-1 {
    margin-top: 0px;
    width:100%;
    position: absolute;
    order: 1;
  }
  
  .item-2 {
    margin-top: -200px;
    order: 2;
    width:100%;
    position: static;
    /* width: 250px; */
    margin-left: 0px;
  }


}