.container {
  display: flex;
  margin: 0 auto;
}

.item {
  /* color: orange; */
  /* padding: 15px;
  margin: 5px; */
  /* border: 2px solid black; */
  /* background: #EC644B; */
  /* width: 250px; */
}

.item-3 {
  flex-basis: 100px;
  order: -1;
  margin-left: 5px;
}

.item-1 {
  order: 2;
}

.item-2 {
  order: 3;
  /* width: 500px; */
  margin-left: 20px;
  margin-right: 20px;
}


header {
  background-image: url('https://image.freepik.com/free-photo/cocktail-whiskey-cola_8353-1239.jpg');
  background-color: black;
  background-position: 90% 75%;
  background-repeat: no-repeat;
  height: 50px;
  padding: 50px;
}

/* #title{
  color: cyan;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
} */

#liquor-form {
  margin-top: 20px;
}

.glowbtn {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.glowbtn:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

article {
  padding: 0px;
  box-sizing: border-box;
}

footer {
  /* background-image: url('https://image.freepik.com/free-photo/cocktail-whiskey-cola_8353-1239.jpg'); */
  /* transform: rotateY(180deg); */
  text-align: center;
  background-color: black;
  background-position: 90% 75%;
  background-repeat: no-repeat;
  height: 50px;
  padding: 50px;
}

body {
  margin: 0px;
  /* Photo Credit: https://www.pexels.com/@davidguerrero https://www.pexels.com/photo/people-sitting-in-a-bar-2945691/ */
  background-image: url('https://images.pexels.com/photos/2945691/pexels-photo-2945691.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
  background-size: cover;
  /* background-repeat: no-repeat; */
  display: flex; 
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex: 1;
  display: flex;
  }
/* 

#cocktail-results {
  height: 100%;
}

#result-img {
  height: 100%;
} */

#cocktail.grow{
  border-radius: 50%;
  height: 200px;
  width: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}


/* #drink-name {
  height: 200px;
  padding-bottom: 0px;
} */

/* h1{
  margin-top: 0px; 
  margin-right: 600px;
} */

h2 {
  color: #fff;
  margin-bottom: 20px;
  margin-top: 60px;
  text-align: center;
}
#recepie {
  margin-top: 40px;
}
#drink-recepie {
  margin-bottom: 10px;
}

h3{
  background-image:   url('https://image.freepik.com/free-photo/natural-wooden-background_24837-269.jpg');
  margin-top: 30px;
  margin-bottom: 30px;
  color: whitesmoke;
  text-align: center;
  border-radius: 15%;
  /* background:linear-gradient(bottom,rgba(0,0,0,1),rgba(0,0,0,.4));
  background:-webkit-linear-gradient(bottom,rgba(10,10,10,1),rgba(10,10,0,.4));
  background:-moz-linear-gradient(bottom,rgba(10,15,10,1),rgba(10,10,10,.4)); */
}

li {
  text-align: center;
  size: 2px;
  margin-top: 0px;
  margin-bottom: 2px;
  background-color: blanchedalmond;
  border-radius: 25%;

}

/* #drink-names{
  margin-top: 50px;
} */


#github.grow{
  /* margin-left: 300px; */
  /* transform: rotateY(180deg); */
  height: 100px;
}

#linkedin.grow{
  /* transform: rotateY(180deg); */
  height: 100px;
  border-radius: 25%;
}

.grow { 
  transition: all .2s ease-in-out; 
}
  
.grow:hover { 
  transform: scale(1.2); 
}

.glow {
  font-size: 30px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

#liquor-data{
  width: 100%;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

@media screen and (max-width:825px){
  #recepie-data{
width: 100px;
}
 #cocktail.grow{
  width: 100%;
  height: 100%;
  /* height: 100px; */
  /* width: auto; */
  margin-top: 30px;
  /* margin-bottom: 200px; */
  margin-bottom: 150px;
} 

.grow { 
  transition: all .2s ease-in-out; 
}
  
.grow:hover { 
  transform: scale(2.3); 
}


  /* #cocktail.grow{
    max-width: 100%;
    max-height: 100%;
  } */
/* 
  h1.glow {
    font-size: 4vw;
    margin-top: 0px;
    margin-right: 0px;
  }
  
  h2 { 
    font-size:3vw; 
  }

  li {
    font-size:2vw;
  }

  #drink-names{
    padding-left: 0px;
  }
  
  article {
    padding-left: 0px;
  } */
}

/* 
@media screen and (max-width:1024px) {}

@media screen and (max-width:768px) {}

@media screen and (max-width:450px){}

@media screen and (max-width:375px){} */
/* 
@media screen and (max-width:280px){

  header {
    background-image: url('https://image.freepik.com/free-photo/cocktail-whiskey-cola_8353-1239.jpg');
    background-color: black;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
  }

}
#liquor-form{
  left: 0px;
  position: absolute;
  text-align: center;
  
}
#liquor-search{
}

#getLiquor{
  position: absolute;
}

#cocktail-grow {
  height: 100%;
  width: auto;
} */